/* TODO Add site wide styles */
.signup_password_disclaimer {
    color: red;
    font-size: .75em;
}

.bg-darker {
    background-color: rgb(26, 22, 22);
}

.bg-lightgray {
    background-color: rgb(245, 245, 245);
}

.bg-lightblue {
    background-color: rgb(140, 195, 247);
}

.sp-text {
    color: rgb(156, 156, 156);
    white-space: pre;
}

.large-text {
    font-size: 1.75em;
    font-weight: bold;
}

button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

button:focus{
    outline: none;
}

.star {
    color: gray;
}

.delete {
    color: gray;
}

.star:hover {
    color: gold;
}

.title {
    font-size: 3em;
}

.hide_journal {
    display:none;
}

.journal:hover + .hide_journal, .hide_journal:hover {
    display:block
}

.px250 {
    max-width: 250px;
    min-width: 180px;
}
.px300 {
    max-width: 300px;
}

.px400 {
    max-width: 400px;
}

.content_card {
    max-height: 150px;
    min-height: 150px;
}

.small_text {
    font-size: .75em;
}

.special_a {
    color: inherit;
    text-decoration: inherit;
}

.special_a:hover {
    color: inherit;
    text-decoration: inherit;
}

.no_padding {
    padding-left: 7px;
    padding-right: 7px;
}

.lightning {
    font-size: 120px;
}

.bigger-text {
    font-size: 1.3em;
}
