/* TODO Add site wide styles */
.signup_password_disclaimer {
    color: red;
    font-size: .75em;
}

.bg-darker {
    background-color: rgb(26, 22, 22);
}

.bg-lightgray {
    background-color: rgb(245, 245, 245);
}

.sp-text {
    color: rgb(192, 192, 192);
}

button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

button:focus{
    outline: none;
}

.star {
    color: gray;
}

.star:hover {
    color: gold;
}
