/* TODO Add site wide styles */
.signup_password_disclaimer {
    color: red;
    font-size: .75em;
}

.bg-darker {
    background-color: rgb(26, 22, 22);
}

.bg-lightgray {
    background-color: rgb(245, 245, 245);
}

.sp-text {
    color: rgb(156, 156, 156);
}

button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

button:focus{
    outline: none;
}

.star {
    color: gray;
}

.star:hover {
    color: gold;
}

.title {
    font-size: 3em;
}

.hide_journal {
    display:none;
}

.journal:hover + .hide_journal, .hide_journal:hover {
    display:block
}

.px250 {
    max-width: 250px;
}
.px300 {
    max-width: 300px;
}
